.choice-buttons {
    display: flex;
    min-width: 50%;
    max-width: 90%;
    margin: 5px;
    flex-direction: row;
    padding:10px;
    background-color: #9dc9ec;
    border-radius:4px;
    border-color: #ffffff;
    color: rgb(255, 255, 255);
    font-size: 18px;
    border: 1px solid #ffffff;
    
}
.choice-buttons:hover {
    background:#19639F;
}
.choice-button-label {
    background-color: rgb(94, 198, 247);
    display: block; 
    width: 20px;
    height: 20px;
    margin-right: 5px;
    border-color: white;
    border-width: 5px;
    color: white;
}

.choice-button-select{
    margin-left: auto; 
    margin-right: 0;
}